.adventeg
    background: #fff
    min-height: 473px
    margin: 73px 94px 65px 94px
    &_head
        margin-bottom: 60px
        text-align: center
        font-weight: 700
        font-size: 30px
        font-family: 'MuseoModerno', cursive
    &_img
        display: block
        margin: 0 auto
    &_title
        text-align: center
        font-weight: 700
        font-size: 18px
        margin-top: 35px
        font-family: 'MuseoModerno', cursive
    &_text
        margin-top: 20px
        text-align: center
        font-weight: 300
        font-size: 14px
        font-family: 'MuseoModerno', cursive
.consult
    height: 680px
    background: url("../img/bg2.jpg") center center/cover  no-repeat
    padding: 100px 239px 108px 102px
    &_title
        font-weight: 700
        font-size: 36px
        color: #fff
        font-family: 'MuseoModerno', cursive
    &_subtitle
        font-weight: 500
        font-size: 20px
        color: #fff
        margin-top: 8px
        margin-bottom: 25px
        font-family: 'MuseoModerno', cursive
    
.comments
    background: #fff
    padding: 78px 0 48px 0
    min-height: 1047px
    &_title
        font-weight: 700
        font-size: 30px
        font-family: 'MuseoModerno', cursive
        text-align: center
    &_block
        display: flex
    .mrg
        margin-top: 60px  

    &_img
        width: 169px
        height: 169px
        border-radius: 100%
        border: none
        
    &_text
        margin-left:61px
        width: 680px
        font-weight: 300
        font-size: 16px
        font-family: 'MuseoModerno', cursive
        span
            font-size: 13px
            color: #646464
.map
    min-height: 630px
    background: url("../img/bg3.jpg") center center/cover  no-repeat
    &_info
        width: 460px
        height: 270px
        background: #C70101
        padding: 50px 53px 56px 
        margin: 0 auto
    &_title
        text-align: center
        font-weight: 500
        font-size: 20px
        color: #fff
        font-family: 'MuseoModerno', cursive
    &_subtitle
        margin-top: 36px
        text-align: center
        font-weight: 700
        font-size: 20px
        color: #fff
        font-family: 'MuseoModerno', cursive
    &_social
        display: flex
        border-color: #fff
        justify-content: center
        margin-top: 36px
        .icon
            display: flex
            justify-content: center
            align-items: center
            width: 53px
            height: 52px
            border-radius: 100%
            border: solid 2px
            border-color: #fff
            background: #C70101
            margin-left: 27px
        .icon:nth-child(1)
            margin-left: 0px
        .icon_color
            color: #fff
    