header
    background: url("../img/head.jpg") center center/cover  no-repeat
    padding-top: 21px
    height: 650px
    .logo
        display: flex
        justify-content: space-around
        &_img
            width: 251px
            height: 45px
        .logo_link
            font-family: 'MuseoModerno', cursive
            font-size: 12px
            font-weight: 500
            text-align: center
            color: #fff
            .edit
                font-size: 18px
        .number
            font-weight: 700
            font-size: 18px
            color: #fff
        .logo_btn
            width: 153px
            height: 32px
            background-color: red
            font-weight: 500
            font-size: 12px
            border: none
            border-radius: 6px
            color: #fff
           
    .logo_text
        margin-top: 97px
        .logo_title
            text-align: center
            color: #fff
            font-weight: 700
            font-size: 42px
        .logo_subtitle
            text-align: center
            color: #fff
            font-weight: 500
            font-size: 24px
    .icon
        margin-top: 60px
        margin-left: 50px
        &_img
            display: block
            margin: 0 auto
        &_text
            font-weight: 500
            font-size: 14px
            text-align: center
            color: #fff
    .accept
        width: 303px
        margin-left: 50px
        &_btn
            color: #fff
            font-weight: 500
            font-size: 16px
            text-align: center
            width: 303px
            height: 54px
            background: red
            margin-top: 65px
            border: none
            border-radius: 5px
        &_text
            color: #fff
            font-weight: 500
            font-size: 16px
            text-align: right
            a
                color: #fff
    