.promo
    min-height: 650px
    background: url("../img/head.jpg") center center/cover  no-repeat
    padding: 21px 0 93px 0
    &__wrapper
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-top: 90px
    &__title
        font-weight: 700
        font-size: 42px
        line-height: 42px
        color: #fff
    &__subtitle
        font-weight: 500
        font-size: 24px
        line-height: 24px
        color: #fff
    &__icons
        display: flex
        margin-top: 65px
        width: 425px
        justify-content: space-between
    &__icon
        width: 108px
        text-align: center
        font-weight: 500
        font-size: 14px
        color: #fff
        position: relative
    &__img
        display: block
        margin: 0 auto
        margin-bottom: 20px
        &_poshta
            animation-name: poshta
            animation-duration: 4s
            animation-iteration-count: infinite
            &:hover
                animation-play-state: paused
        &_forum
            animation-name: forum
            animation-duration: 4s
            animation-iteration-count: infinite
            &:hover
                animation-play-state: paused
        &_time2
            position: absolute
            top:11%
            width: 8%
            left: 47%
            animation-name: timer
            animation-duration: 4s
            animation-iteration-count: infinite
            &:hover
                animation-play-state: paused
    &__link
        margin-top: 8px
        font-weight: 500
        font-size: 16px
        line-height: 25px
        color: #fff
        a 
            color: #fff
